$font-1: 'Dancing Script', cursive;
$font-2: 'Pacifico', cursive;
$font-3: 'Bebas Neue', cursive;

$transition: all 1s;

body {
    margin: 0;
}
section {
   
}
/* Header */

header .row {
    background-image: url(https://cdn.pixabay.com/photo/2015/07/28/22/01/office-865091_960_720.jpg);
    background-position: center center;
    background-size: cover;
    height: 700px;
    position: relative;
}
.company-name {
    padding-top: 0px;
    padding-left: 150px;
    max-height: 200px;
    h3 {
        color: goldenrod;
        font-family: $font-1;
        font-size: 45px;
    }
}
.menu {
    padding-top: 45px;
    max-height: 200px;
    text-align: right;

    ul {
       
    }
    li {
        display: inline-block;
        margin-right: 50px;
        list-style: none;
        
    }
    a {
        text-decoration: none;
        color: #FFF;
        font-family: $font-3;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    a:hover {
        color: goldenrod;
        transition: $transition;
    }
}
.header-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    h2 {
        font-family: $font-2;
        color: #e67e22;
        font-size: 50px;
        margin-bottom: 0;
        
    }
    h1 {
        font-family: $font-3;
        color: #e67e22;
        font-size: 100px;
        word-spacing: 10px;
        letter-spacing: 5px;
        font-weight: bolder;
        margin-top: 0;
    }
    a {
        text-decoration: none;
        list-style: none;
        color: #fff;
        padding: 25px 50px;
        border-radius: 8px;
        background-color: goldenrod;
        font-size: 20px;
        font-weight: bold;
    }
    a:hover {
        color: black;
        border-radius: 25px;
        transition: $transition;
    }
}

/* Services */
.services {
    text-align: center;

    .row {
        display: flex;
        justify-content: center;
    }
    .heading {
        margin-top: 50px;
        h1 {
            color: black;
            font-family: $font-3;
            font-weight: bold;
            font-size: 60px;
            letter-spacing: 4px;
            margin-bottom: 0;
        }
        p {
            color: #7f8c8d;
            font-size: 20px;
            margin-top: 0;
        }
    }
    .card {
        margin: 45px 0;
        padding: 0 45px;
        i {
            font-size: 45px;
            border: 2px solid goldenrod;
            border-radius: 50%;
            padding: 25px;
            color: goldenrod;
            background-image: linear-gradient(50deg, #ecf0f1 50%, transparent 50%);
            background-position: 100% 0;
            background-size: 300%;
        }
        i:hover {
            background-position: 0 100%;
            transition: $transition;
            transform: scale(1.2);
        }
        p {
            
            color: #7f8c8d;
            font-size: 20px; 
        }
    }
}

/* Portfolio */
.portfolio {
    text-align: center;
    background-color: #ecf0f1;

    .row {
        display: flex;
        justify-content: center;
        
        .heading {
            margin-top: 50px;
            h1 {
                color: black;
                font-family: $font-3;
                font-weight: bold;
                font-size: 60px;
                letter-spacing: 4px;
                margin-bottom: 0;
            }
            p {
                color: #7f8c8d;
                font-size: 20px;
                margin-top: 0;    
            }
        }
        .card {
            padding: 0;
            margin: 45px 10px;
            background: #fff; 
            border-radius: 10px;
                   
            .card-text {
                padding: 15px 0;
                h3 {
                    margin: 0;
                    font-size: 20px;
                }
                p {
                    color: #7f8c8d;
                    font-size: 15px; 
                    margin: 0px;
                }    
            }
            img {
            height: 300px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            }
        }
    }
}

/* Footer */
footer {

    .footer-text {
        margin-top: 30px;
        color: #7f8c8d;
        i {
            border: 1px solid #7f8c8d;
            border-radius: 50%;
            padding: 4px;
            font-size: 10px; 
        }
    }
    .footer-icon {
        margin-top: 45px;
        margin-bottom: 30px;
        color: #FFF;
        i {
            border: 1px solid black;
            border-radius: 50%;
            padding: 2% 3% 2% 3%;
            background: black;

        }
        a {
            color: #fff;
            text-decoration: none;
            span {
                font-size: 0px;
            }
            
        }
        i:hover {
         color: goldenrod;
         transition: $transition;
         transform: scale(1.2);
         margin-left: 4px;
         margin-right: 4px;
        }
    }
}


/*Media */

@media (max-width: 767px) {
    .company-name {
        padding-left: 15px;

    }
    .menu {
        padding-top: 0;
        text-align: right;

        li {
            display: block;
            margin-right: 0px;
        }
    }   
    .header-center {
        h2 {
            font-size: 34px;
        }
        h1 {
            font-size: 50px;
        }
        a {
            padding: 12px 25px;

        }
    }
    footer {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .company-name {
        padding-left: 35px;
    }

    .menu {
        padding-top: 45px;
        text-align: right;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: end;
        li {
            a {
                margin: -10px;
            }
        }
    }
    .header-center {
        h2 {
            font-size: 44px;
        }    
        h1 {
            font-size: 60px;
        }
        a {
            padding: 20px 40px;
        }
    }
    .services {
        .card {
            padding: 0 15px;
        }
    }
    footer {
        text-align: center;
    }    
    
    
}